
<br><br>
<div class="container">
  <h3>ADMIN PANEL</h3>
  <hr />

  <p>
    <a href="/admin/user">USER MANAGER</a>
  </p>


  <p>
    <a href="/admin/product">PRODUCT MANAGER</a>
  </p>


  <p>
    <a href="/admin/product/new">PRODUCT NEW</a>
  </p>
  
  <p>
    <a href="/admin/order">ORDER MANAGER</a>
  </p>
</div>


<%- include ../commun/library.ejs %>
