
<!-- Navigation Bar -->
<%- include ../commun/navbar.light.ejs %>
<!-- Navigation Bar -->


<div class="container">


  In this section the administrator is allowed to manage product, catalog, user, preferences

</div>


<%#- include ../commun/library.ejs %>
