<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                 Store Side / Front End
            </a>
        </li>


        <li>
            <a href="/admin/menu"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Menu</a>
        </li>




        <li>
            <div class="dropdown">
                <button style="background-color:#bdd2e4;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    Product&nbsp;

                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color:#bdd2e4;">
                    <li><a href="/admin/product/new">New</a></li>
                    <li><a href="/admin/product/manager">Full List / Catalog</a></li>
                </ul>
            </div>

        </li>









        <li>
            <a href="/admin/order"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Order Manager</a>
        </li>



        <li>
            <div class="dropdown">
                <button style="background-color:#bdd2e4;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Customers&nbsp;

                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="background-color:#bdd2e4;">
                    <li><a href="/admin/customer/list">List</a></li>

                </ul>
            </div>

        </li>







        <li>
            <a href="/admin/module"><i class="fa fa-tasks" aria-hidden="true"></i>
                 &nbsp;Module</a>
        </li>





        <li>
            <a href="/admin/profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Profile</a>
        </li>



        <li>
            <a href="/admin/preference"><i class="fa fa-sliders" aria-hidden="true"></i>
                </i> &nbsp;Preferences</a>
        </li>




        <li>
            <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </li>








    </ul>
</div>





<!-- /#sidebar-wrapper -->