<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                Ymple Commerce Admin
            </a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/admin/menu">Admin</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>


        <li>
            <div class="dropdown">
                <button style="background-color:#aab2bd;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Product

                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/admin/product/new">New</a></li>
                    <li><a href="/admin/product">Manager</a></li>
                </ul>
            </div>

        </li>








    </ul>
</div>



<!-- /#sidebar-wrapper -->