<!DOCTYPE html>
<html lang="en">

<%- include ../commun/menu/head.ejs %>

<body>

<div id="wrapper">
    <%- include ../commun/menu/menu.ejs %>
    <%- include ../commun/menu/contentBack.ejs %>
</div>
<!-- /#wrapper -->

</body>
</html>
