<html>
<br>
    <h2>Welcome the Ymple Commerce installation Step</h2>

    <br>

To start to use the framework you need to do the following step:
    <br><br>

[1]: Set the database configuration in the file connections.js. file the section mongodbServer
    <br><br>
Example:
    <br><br>
mongodbServer: {
adapter: 'sails-mongo',
host: 'localhost',
port: 27017,
database: 'ymple-commerce'
},
    <br><br>
[2]: Create a database ymple-commerce or with the name in configuration
    <br><br>
[3]: Go to the url http://localhost:1338/login and signup to create the first user to allow the login to back end side


</html>