



<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--a class="navbar-brand" href="#">Ymple Commerce</a-->
        </div>
        <div class="navbar-collapse collapse" id="header-menu-navbar">

            <ul class="nav navbar-nav">
                <!--/have as a mvc section -->
                <li>
                    <a href="#">Option 1</a>
                </li>
                <li>
                    <a href="#">Option 2</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--li class="hidden-xs">
                    <div style="margin-top:15px;">
                        <a style="display:inline;padding-left:5px;padding-right:5px;" data-toggle="dropdown" class="dropdown-toogle" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                        <ul class="dropdown-menu">
                            <li>
                                <form style="padding:10px;width:250px;">
                                    <div class="form-group">
                                        <label for="username">User Name</label>
                                        <input type="text" id="username" name="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </form>
                            </li>
                        </ul>
                        or <a style="display:inline;padding-left:5px;padding-right:5px;background-color:#fff;" href="#">Register</a>
                    </div>
                </li-->
                <!--li class="visible-xs"><a href="#">Login</a></li>
                <li class="visible-xs"><a href="#">Register</a></li-->
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>